defaults:
  - _self_

hydra:
  run:
    # dir: ${exp_dir}/${now:%Y-%m-%d}/${now:%H-%M-%S}
    dir: ${exp_dir}/${now:%Y-%m-%d}/${now:%H-%M-%S}
  sweep:
    dir: ${exp_dir}/${hydra.job.name}  
    #subdir: ${exp_dir}/${hydra.job.num}/seed=${seed}
    subdir: ${hydra.job.override_dirname}/seed=${seed}
  job:
    env_set:
      CUDA_VISIBLE_DEVICES: ${hydra.job.num}
    config:
      override_dirname:
        exclude_keys:
          - exp_dir
          - seed
          - wandb
          - model_path
          - exp_name
          - loop.training_steps
          - loop.finetune_steps
    chdir: true


prompt: "A creative architecture." # the prompt we are fine-tuning for
# prompt: "A creative fantasy landscape." # the prompt we are fine-tuning for
exp_dir: /local/home/mvlastelica/stable_diffusion_diversity_rebuttal
cuda_device: 3
store_model: true
seed: 0

model:
  _target_: maxentdiff.models.StableDiffusion
  device: cuda
  guidance_scale: 8
  dtype: float32

diversity_evaluator:
  _target_: maxentdiff.sd_utils.OpenClipDiversityEval
  model: ViT-B-32
  pretrained: laion2b_s34b_b79k

image_sampler:
  _target_: maxentdiff.sd_utils.ImageSampler
  num_images: [3,6]
  steps: 30
  guidance_scale: 8
  seed: 0
  prompt: ${prompt}

wandb:
  project: maxentdiff_sd
  tags: [rebuttal]
  name: ${prompt}/${hydra:job.override_dirname}/stable-diffusion/seed=${seed}
  entity: mvlast
  resume: auto
  # group: ${hydra:job.override_dirname}
  

trainer:
  _target_: maxentdiff.trainers.max_ent.MaxEntTrainer
  lr: 3.e-7
  traj_samples_per_stage: 3
  data_shape: [16384] # 4x64x64
  batch_size: 8
  traj_len: 30
  lmbda: 0.1 # 0.01
  finetune_steps: 20
  clip_grad_norm: 1.0
  sample_jumps: true # sample jumps in the diffusion process

loop:
  md_steps: 20
  save_every: 3
  training_steps: 60
  log_freq: 5


  